h3{
    margin-top: 60px;
}

section{
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    grid-column-gap: 24px;

    .item{
        text-align: center;
        margin-bottom: 24px;

        .image-container{
            height: 45px;
            
            .aptitude-image{
                max-height: 40px;
            }
        }
        
        span{
            color: var(--secondary-color);
        }
    }
}

@media (min-width: 600px){
    section{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

        .image-container{
            height: 70px!important;
            
            .aptitude-image{
                max-height: 60px!important;
                max-width: 140px;
            }
        }
    }
}

@media (min-width: 768px){
    section{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1024px){
    section{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}


/////////////////////////////////////

.aptitudes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .aptitude{
        display: inline-block;
        margin: 5px 0;
        background-color: #fff;
        padding: 4px;
        border-radius: 6px;
        width: 100%;

        img{
            height: 30px;
        }

        span{
            margin-left: 10px;
            color: #444;
        }

        .progress-bar{
            width: 100%;
            background-color: #cecece;
            height: 8px;
            display: block;
            margin-top: 8px;
            padding: 0px;
            border-radius: 26px;

            span{
                background-color: var(--secondary-color);
                margin: 0;
                margin-top: -1px;
                display: block;
                height: inherit;
                border-radius: 10000px;
            }
        }
    }
}

@media (min-width: 600px){
    .aptitude{
        width: unset!important;
        margin: 5px 20px!important;

        .progress-bar{
            width: 160px!important;
        }
    }
}
