<h3 nz-typography class>Proyectos / Pruebas</h3>
<section>
    <a class="card" *ngFor="let proyect of data" [href]="proyect.href" title="{{proyect.title}}">
        <div class="image-container">
            <img src="{{proyect.backgroundImage}}" alt="image principal de {{proyect.title}}">
        </div>
        <div class="content-container">
            <span>{{proyect.title}}</span>
            <p>{{proyect.description}}</p>
    
            <small>{{proyect.date}}</small>
        </div>
    </a>
</section>