:root {
    --main-color: #5C27B0;
    --secondary-color: #3F51B5;
    --body-color: #efefef;
}

body{
    position: relative!important;
    background-color: var(--body-color);
    font-family: 'Raleway', sans-serif;
    padding-bottom: 200px;
}

#loader{
    display: block;
    z-index: 999999;
    font-size: 12px;
    padding: 2px;
    border-radius: 7px;
    background: linear-gradient(to left, var(--main-color), var(--secondary-color));
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100px;
    height: 23px;
    margin: auto;
    text-align: center;
}
